


server:
  port: 8083

spring:
  application:
    name: trade-service

  cloud:
    nacos:
      discovery:
        server-addr: 47.118.81.30:8848
  datasource:

    type: com.alibaba.druid.pool.DruidDataSource

    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/pet-trade #?servierTimezone=UTC
    username: root
    password: 1234
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 100MB
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: assign_id
      logic-delete-field: deleted
      logic-not-delete-value: 0
      logic-delete-value: 1